<div class="tituloajuste ml-4 mr-4 mt-4">
    <h1 class="titulo">GRADO EN ADMINISTRACIÓN Y DIRECCIÓN DE EMPRESAS</h1>
</div>
<hr class="ml-4 mr-4">

<div class="titulo2 ml-4 mr-4">
    <p><strong>Refuerzo Universitario para asignaturas de Grado en ADE:</strong></p>
</div>

<div class="asignaturas ml-4 mr-4">
    <p>Matemáticas</p>
    <p>Estadísitca</p>
    <p>Estadística Avanzada</p>
    <p>Matemáticas Financieras</p>
    <p>Fundamentos de Contabilidad</p>
    <p>Contabilidad Financiera</p>
    <p>Microeconomía</p>
    <p>Macroeconomía</p>
    <p>Derecho Empresarial I</p>
    <p>Derecho Empresarial II</p>
    <p>Historia Económica</p>
</div>

<div class="tarifa ml-4 mr-4">
    <p><strong>NUESTRA TARIFA ESTRELLA</strong></p>
</div>

<div class="centrartabla">
    <table class="precios">
         <tr>
            <td>Horas (a la semana) </td>
            <td>Precio (mensual)</td>
        </tr>
        <tr>
            <td>2 horas</td>
            <td>80€</td>
        </tr>
    </table>
</div>

<div>
    <img class="imagen" src="/assets/img/primaria.png">
</div>


