<div class="secundaria">
    <div class="tituloajuste ml-4 mr-4 mt-4">
        <h1 class="titulo">SECUNDARIA</h1>
    </div>
    <hr class="ml-4 mr-4">

    <div class="titulo2 ml-4 mr-4">
        <p><strong>Refuerzo escolar para asignaturas de Educación Secundaria:</strong></p>
    </div>

    <div class="asignaturas ml-4 mr-4">
        <p>Matemáticas</p>
        <p>Lengua Castellana</p>
        <p>Inglés</p>
        <p>Francés</p>
        <p>Física y Química</p>
        <p>Biología</p>
        <p>Economía</p>
        <p>Tecnología</p>
        <p>Geografía</p>
        <p>Historia</p>
        <p>Ciencias Sociales</p>
        <p>Ciencias Naturales</p>
    </div>

    <div class="tarifa ml-4 mr-4">
        <p><strong>NUESTRA TARIFA ESTRELLA</strong></p>
    </div>

    <div class="centrartabla">
        <table class="precios">
            <tr>
                <td>Horas (a la semana) </td>
                <td>Precio (mensual)</td>
            </tr>
            <tr>
                <td>2 horas</td>
                <td>60€</td>
            </tr>
        </table>
    </div>

    <div>
        <img class="imagen" src="/assets/img/secundaria.png">
    </div>
</div>