<div class="bachillerato">
    <div class="tituloajuste ml-4 mr-4 mt-4">
        <h1 class="titulo">BACHILLERATO</h1>
    </div>
    <hr class="ml-4 mr-4">

    <div class="titulo2 ml-4 mr-4">
        <p><strong>Refuerzo escolar para asignaturas de Bachillerato:</strong></p>
    </div>

    <div class="asignaturas ml-4 mr-4">
        <p>Matemáticas I</p>
        <p>Matemáticas II</p>
        <p>Física</p>
        <p>Química</p>
        <p>Lengua Castellana</p>
        <p>Sintáxis</p>
        <p>Inglés</p>
        <p>Economía</p>
        <p>Francés</p>
        <p>Biología</p>
        <p>Geografía</p>
    </div>

    <div class="tarifa ml-4 mr-4">
        <p><strong>NUESTRA TARIFA ESTRELLA</strong></p>
    </div>

    <div class="centrartabla">
        <table class="precios">
            <tr>
                <td>Horas (a la semana) </td>
                <td>Precio (mensual)</td>
            </tr>
            <tr>
                <td>2 horas</td>
                <td>65€</td>
            </tr>
        </table>
    </div>

    <div>
        <img class="imagen" src="/assets/img/primaria.png">
    </div>
</div>