<div class="home-prin">



    
    <div class="superior">

        <div class="circulo"></div>

        <div class="circulo"></div>

        <div class="circulo"></div>

        <div class="circulo"></div>

    </div>



    <div class="medio">

        <div class="titulo-medio">
            <h3>NUESTROS SERVICIOS</h3>
            <h5>Centro de Estudios Ciudad de Santander</h5>
            
        </div>

    </div>



    <div class="medio-bajo">

        <div class="titulo-medio-bajo">
            <h3>OFERTA EDUCATIVA</h3>
            <h5>Apoyo, Refuerzo, Cursos, Co-working, Alquiler de aulas para oposiciones…</h5>
        </div>

    </div>


    <div class="inferior">
        <div class="titulo-bajo">
            <h2>¿Quién dijo..?</h2>
        </div>
    </div>




</div>
