<div class="home-prin">


    <div class="superior">

        <div class="circulo">
            <i class="qode_icon_font_awesome fa fa-book qode_iwt_icon_element"></i>
            <div class="apoyo">Apoyo</div>
        </div>
        

        <div class="circulo">
            <i class="qode_icon_font_awesome fa fa-pencil qode_iwt_icon_element"></i>
            <div class="refuerzo">Refuerzo</div>
        </div>

        <div class="circulo">
            <i class="qode_icon_font_awesome fa fa-tablet qode_iwt_icon_element"></i>
            <div class="cursos">Cursos</div>
        </div>

        <div class="circulo">
            <i class="qode_icon_font_awesome fa fa-language qode_iwt_icon_element"></i>
            <div class="idiomas">Idiomas</div>
        </div>

    </div>



    <div class="servicios">
            <h3>NUESTROS SERVICIOS</h3>
            <h5>Centro de Estudios Ciudad de Santander</h5>
    </div>

    <div class="col1">
        <p><strong>¿Qué ofrecemos?</strong></p>
        <p class="has-small-font-size">
        Tratamos de ofrecer una formación adecuada, efectiva y personalizada, que ayude a cumplir las expectativas del alumno. 
        Contamos con personal docente cualificado y con experiencia durante años, que asegura que en nuestro Centro, los grupos sean reducidos.
        </p>
    </div>
                
    <div class="col2">
        <p><strong>¿Porqué elegir CECS?</strong></p>
        <p class="has-small-font-size">
        En grupos reducidos (máximo 5 alumnos) ayudamos a nuestro alumnado a resolver las dudas, comprender los conceptos vistos en clase, 
        hacer las tareas y preparar los exámenes desde Primaria hasta Universidad.
        Trabajamos a partir del temario de los alumnos y con los libros de clase. 
        Proporcionamos material adicional personalizado para profundizar el aprendizaje y adaptarse a las necesidades académicas de cada uno.
        </p>
    </div>


    <div class="oferta">
        <h3>OFERTA EDUCATIVA</h3>
        <h5>Apoyo, Refuerzo, Cursos, Co-working, Alquiler de aulas para oposiciones…</h5>
    </div>


    <div class="inferior">
        
        
    </div>

</div>
